{% extends 'base.html.twig' %}

{% block title %}Historique des commandes{% endblock %}

{% block body %}
    <h1>Historique des commandes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Commande</th>
                <th scope="col">Date de commande</th>
                <th scope="col">Total TTC</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.date_commande|date('d/m/Y') }}</td>
                    <td>{{ commande.prix_total }} €</td>
                    <td>{{ commande.etat_commande }} </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
